 <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button ng-if="auth" ng-click="isNavCollapsed = !isNavCollapsed" class="navbar-toggle collapsed" aria-expanded="false"  type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="#/"><i class="fa fa-comment-o"></i> app</a>
      </div>

      <div class="navbar-collapse navbar-side-menu" uib-collapse="isNavCollapsed">
        <ul ng-if="auth" class="nav navbar-nav navbar-right">
          <li>
            <a href="#/manage">
              <img ng-src="{{auth.photoURL}}" class="img-circle img-xs" alt="Photo" />&nbsp; {{auth.displayName}}
            </a>
          </li>
          <li><a ng-click="logout()">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>