<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="media">
      <div class="media-left">
        <img ng-src="{{user.photoURL}}" ng-if="user.photoURL" class="media-object img-circle img-md" alt="{{user.name}}" />
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{chat.title}}</h4>
        <p class="text-muted">{{presence.$value | fromNow: 'online'}}</p>
      </div>
    </div>

    <div class="chat-window">
      <p ng-repeat="msg in messages" ng-class="{'text-right': msg.from == model.from}">
        <b ng-show="msg.from != model.from" class="font-sm">{{msg.from}}</b> {{msg.text}}
      </p>
    </div>

    <form name="form" ng-submit="$event.keyCode == 13 && sendMessage( model )" novalidate class="form-inline">
      <div class="form-group" ng-hide="model.from">
        <input type='text' ng-model="model.from" placeholder='Name' class="form-control" />
      </div>
      <div class="form-group">
        <input type='text' ng-model="model.text" placeholder='Type a message' class="form-control" />
      </div>
      <button type="submit" class="btn btn-primary" ng-click="sendMessage( model )">Send</button>
    </form>

  </div>
</div>