<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p ng-repeat="msg in messages" ng-class="{'text-right': msg.name == model.name}">
      <b ng-show="msg.name != model.name" class="font-sm">{{msg.name}}</b> {{msg.text}}
    </p>

    <form name="form" ng-init="model.name = identity.name" ng-submit="$event.keyCode == 13 && createMsg( model )" novalidate
      class="form-inline">

      <div class="form-group" ng-hide="model.name">
        <input type='text' ng-model="model.name" placeholder='Name' class="form-control" />
      </div>

      <div class="form-group">
        <input type='text' ng-model="model.text" placeholder='Chat here' class="form-control" />
      </div>
      <input type="submit" class="btn btn-primary" ng-click="createMsg( model )" value="Send" />

    </form>

  </div>
</div>
