<html ng-app="app">

<head>
  <title>App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="lib/bower.css" rel="stylesheet" />
  <link href="lib/app.css" rel="stylesheet" />

  <script src="lib/bower.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
  <script src="lib/app.js"></script>
</head>

<body>
  <nav ng-controller="shared.navbar" class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button ng-show="auth.name" ng-click="navCollapse = !navCollapse" type="button" class="navbar-toggle collapsed" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="#/"><i class="fa fa-comment-o"></i> app</a>
      </div>

      <div class="navbar-collapse navbar-side-menu" ng-hide="navCollapse">
        <ul ng-show="auth.name" class="nav navbar-nav navbar-right">
          <li>
            <a href="#/manage">
              <img ng-src="{{auth.photoURL}}" class="img-circle img-xs" alt="Photo" />&nbsp; {{auth.name}}
            </a>
          </li>
          <li><a ng-click="logout( )">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="container">
    <div ng-view></div>
  </main>
</body>

</html>







<!--<ul ng-hide="identity.auth" class="nav navbar-nav navbar-right">
          <li><a href="#/login">Login</a></li>
        </ul>-->
<!--<li class="dropdown" uib-dropdown>
            <a uib-dropdown-toggle class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-v"></i>
            </a>
            <ul uib-dropdown-menu class="dropdown-menu">
              <li>
                <a href="#/manage" class="text-muted">
                  {{identity.name}}
                </a>
              </li>
              <li role="separator" class="divider"></li>
              <li><a ng-click="logout( )">Logout</a></li>
            </ul>
          </li>-->