
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3 class="text-center">Me</h3>

    <form name="form" novalidate>
      <div class="form-group">
        <label>Name</label>
        <input type="text" ng-model="profile.displayName" class="form-control">
      </div>
      <div class="form-group">
        <label>Username</label>
        <input type="text" ng-model="profile.username" class="form-control">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" ng-model="profile.email" class="form-control">
      </div>

      <!--Settings-->
    </form>
  </div>
</div>


<!-- this input field synchronizes directly to the name attribute in our Firebase database! -->
<!-- $id is a special meta variable containing the object's key in our Firebase database.
  In this case, it would be "physicsmarie" -->
<!-- {{ profile.$id }}-->