<!-- $id is a special meta variable containing the object's key in our Firebase database.
  In this case, it would be "physicsmarie" -->
<h3>Edit {{ profile.$id }}</h3>

<form novalidate>
  <label>Name</label>
  <!-- this input field synchronizes directly to the name attribute in our Firebase database! -->
  <input type="text" ng-model="profile.name" class="form-control">

  <label>Email</label>
  <!-- and this input field synchronizes directly to the email attribute in our Firebase database! -->
  <input type="text" ng-model="profile.email" class="form-control">
</form>